.dashboard-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .full-height{
    height: 100vh;
    background-color: #f0e8e8;
  }
  .card-container{
    background-color: #f0e8e8;
  }
  .first-card{
    background-color: #34495E;
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 10px;
  
  
  }
  .round {
    position:absolute;
    border-radius: 50%;
    background-color: #909f85;
    width: 40px;
    height: 40px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .second-card{
    background-color: #16A085;
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 10px;
  
  
  }
  .third-card{
    background-color: #F39C12;
      align-items: center;
      display: flex;
      flex-direction: column;
      position:  relative;
      padding-top: 10px;
  
  
  }
  .fourth-card{
    background-color: #2980B9;
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 10px;
  
  
  }
  .modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
  
  }
  p {
    font-size: 12px !important;
    padding-top: 10px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    max-width: 200px;
  }
  
  /* p {
    font-size: 16px;
    color: #0a0a0a;
  } */
  
  .close{
    width: 100px;
  
  }